<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles.css">
    <title>Admin | Funkoshop</title>
</head>

<body>
    <!--Inicio Header-->
    <%- include('partials/header') -%>
        <section class="admin_container">
            <div class="search">
                <label for="buscar"><i class="fa fa-search"></i></label>
                <form id="search-form" method="get">
                    <input type="text" class="search_input" id="search" name="search" placeholder="Buscar por código">
                </form>
            </div>
            <div class="admin_title_container">
                <h2 class="admin_title">Listado de productos</h2>
                <div class="add_prod">
                    <h3 class="add_text">Agregar</h3>
                    <button class="cant_btn_red"><a href="/admin/create">+</a></button>
                </div>
            </div>
            <table class="prod_table" cellspacing="20">
                <tr>
                    <td class="table_titles">ID</td>
                    <td class="table_titles">Código</td>
                    <td class="table_titles">Nombre del producto</td>
                    <td class="table_titles">Categoría</td>
                    <td class="table_titles"></td>
                </tr>
                <% products.forEach( product=>{ %>
                    <tr class="items_admin">
                        <td class="table_items">
                            <%= product.product_id %>
                        </td>
                        <td class="table_items">
                            <%= product.sku %>
                        </td>
                        <td class="table_items">
                            <%= product.product_name.toUpperCase() %>
                        </td>
                        <td class="table_items">
                            <%= categories[product.category_id - 1].category_name %>
                        </td>
                        <td><a href="/admin/edit/<%= product.product_id %>"><i class="fa fa-pencil edit_icon"
                                    aria-hidden="true"></i></a></td>
                        <td><i class="fa fa-trash-o delete_icon" aria-hidden="true" onclick="deleteProduct('<%= product.product_id %>')"></i></td>
                    </tr>
                    <% }) %>
            </table>
        </section>
        <!-- Footer -->
        <%- include('partials/footer') -%>
</body>

<script src="js/admin.js"></script>

</html>